name: 7/24 Bot Devriyesi

on:
  schedule:
    - cron: '0 * * * *'  # Her saat başı çalışır
  workflow_dispatch:      # Elle tetiklemek için

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Depoyu Çek
        uses: actions/checkout@v3

      - name: Python Kur (Guncel Surum)
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' 

      - name: Kutuphaneleri Yukle
        run: |
          pip install --upgrade pip
          pip install ccxt pandas requests
          # Linki main.zip olarak güncelledik, bu çalışacaktır.
          pip install https://github.com/twopirllc/pandas-ta/archive/main.zip

      - name: Botu Calistir
        run: python beyin.py
