name: 7/24 Bot Devriyesi

on:
  schedule:
    - cron: '0 * * * *'  # Her saat başı çalışır
  workflow_dispatch:      # Elle tetiklemek için

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Depoyu Çek
        uses: actions/checkout@v3

      - name: Python Kur (Stabil Surum)
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Kutuphaneleri ve Botu Kur
        run: |
          pip install --upgrade pip
          # Önce Numpy 1.x kuruyoruz (2.0 sürümü eski kütüphaneleri bozuyor)
          pip install "numpy<2"
          
          # Temel kütüphaneler
          pip install ccxt requests pandas
          
          # Pandas-TA'yı manuel klonlayıp kuruyoruz (En garantili yöntem)
          git clone https://github.com/twopirllc/pandas-ta.git
          cd pandas-ta
          pip install .
          cd ..
          
      - name: Botu Calistir
        run: python beyin.py
