name: 7/24 Bot Devriyesi

on:
  schedule:
    - cron: '0 * * * *'  # Her saat başı
  workflow_dispatch:      # Elle tetiklemek için

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Depoyu Çek
        uses: actions/checkout@v3

      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Kutuphaneleri Kur
        run: |
          pip install --upgrade pip
          # Sadece temel kütüphaneler yeterli, Pandas-TA'yı sildik!
          pip install ccxt requests pandas

      - name: Botu Calistir
        run: python beyin.py
